body {
    background: #F5F5F1;
}
#mainContainer {
    margin: 0 auto;
    font-size: 0.8em;
    // display: inline-flex;
}
.divContainer {
    width: 20em;
    height: 21em;
    margin: 1rem 0 0 1rem;
    float: left;
    overflow: hidden;
    object-fit: cover;
    img {
        width: 100%;
        // height: 13em;
        border-radius: 2% 2% 0 0;
    }
}
.footer {
    padding: 0.4rem;
    background: #FFF;
    border-radius: 0 0 2% 2%;
}
a {
    text-decoration: none;
    color: black;
    // display: inline-block; don't do or you'll mess up your image!!!
}
.aImageIcons {
    height: 0;
// background: #FFF;
}
.aTitle {
    width: 19em;
    display: inline-block;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
}
.lowerFooterSection {
    color: #9A9A9A;
    &:after {
        display: block;
        content: ' ';
        clear: both;
    }
    .aShopName {
        display: inline-block;
        color: #9A9AA3;
        float: left;
    }
    .aPrice {
        display: inline-block;
        color: #AEC15F;
        float: right;
    }
}
// .inactive {
//   display: none;
// }

i {
  background: #FFF;
color: #CBC8C6;
position: relative;
padding: 2%;
border-radius: 10%;
top: 2.5em;
left: 15.5em;
margin: 0 .1rem;
}
